@import url('https://fonts.googleapis.com/css?family=Roboto');

.nav-bar-logo {
  width: 154px;
  height: 24px;
  margin-right: 2rem;
}

body {
  background-image: linear-gradient(to right, #000d1a, #036);
}

.container {
  max-width: 970px;
}

.nav-bar {
  padding-top: 45px;
}

.faq {
  margin-right: 40px;
}

.security {
  margin-right: 21px;
}

.navbarlinktext {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  color: #728993;
}

.heading {
  color: white;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  font-size: 37px;
  letter-spacing: 2px;
  margin-top: 14%;
}

.info-text {
  color: white;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 16px;
}
