.nav-bar-logo {
  width: 154px;
  height: 24px;
  margin-right: 2rem;
}

body {
  background-image: linear-gradient(to right, #000d1a, #036);
}

.container {
  max-width: 970px;
}

.nav-bar {
  padding-top: 45px;
}

.faq {
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #728993;
  margin-right: 113px;
}
